<div class="row stickTop">
    <div class="logo col-2 text-center"><img src="../../assets/farmLands-removebg-preview.png" class="farm_logo" alt=""></div>
    <div class="search col-7">
        <input type="search" name="search" placeholder="Search Product" id="searchbar">
        <button class="btn-round">Search</button>
    </div>
   <div class="col-3 d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-center">
       <details class="user">
        <summary role="button">
            <a style="margin: 0;"><i class="far fa-user-circle"></i> &nbsp;User <i class="fas fa-chevron-down"></i></a>
          </summary>
          <ul>
            <div class="col-12">
                <h2 style="font-weight: 500;text-align: center;margin: 0;">OR</h2>
                <div class="text-center">
                    <button class="primBtn" style="width: 230px;font-weight: 500;font-size: 15px;"><i class="fab fa-facebook-f"></i>&nbsp; Login With Facebook</button>
                    <button class="primBtn" style="width: 230px;font-weight: 500;font-size: 15px;"><i class="fab fa-google-plus-g"></i>&nbsp; Login With Google+</button>
                </div>
            </div>
        </ul>
       </details>
        &nbsp;
    </div>
    <label>|</label> &nbsp;
    <div class="cart d-flex align-items-center justify-content-center">
        <p style="margin: 0;"><i class="fas fa-shopping-cart"></i> &nbsp;Cart</p>
    </div>
   </div>
</div>