// @import  "../../../../node_modules/@angular/material/prebuilt-themes/purple-green.css";
// @import  '../../../../ node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

:root{
    --menuTestColor:white !important;
}

::ng-deep .mat-tab-label-content{
    font-size: 1.3rem;
}
.bgheader{
    background: url(../../../assets/banner/banner1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bgheader2{
    background: url(../../../assets/banner/banner2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bgheader3{
    background: url(../../../assets/banner/banner3.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.overlay{
    position: absolute;
    width: 100%;
    padding: 91px;
    top: 0;
    height: 100vh;
    background: #00000094;
}

.topLable{
    margin-top: 30px;
}
.topLable a{
    color: unset;
}
.menuitem{
    padding: 0 10px;
}
.menuitem:hover{
    background-color: var(--primary);
    color: white;
    font-weight: 500px;
    transition: .3s ease-in-out;

}
.wise3men{
    text-decoration: none;
    color: unset;
    padding: 8px;
}
.overlay h1{
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0% { transform: translate(0,  -100px);opacity: 0; }
    65%  { transform: translate(0, 15px); opacity: 1;}
    100%   { transform: translate(0, -0px); }    
}

.transparentBnt{
    border: none;
    outline: none;
    background:var(--primary);
    color: white;
    padding: 6px;
}

.amountText{
    border: none;
    text-align: center;
    outline: none;
}

.card-sale{
    background-color: white;
    margin: 5px 10px;
}
.card-promo{
    // background-color: white;
    border-radius: 30px;
}

.bgpromo{
    background: url('../../../assets/banner/banner1.jpg');
    width: 100%;
    height: 250px;
    border-radius: 30px;
    background-size: cover;
    
}

.bgpromo2{
    background: url('../../../assets/banner/banner2.jpg');
    width: 100%;
    height: 250px;
    border-radius: 30px;
    background-size: cover;
}